<h3>Booking Confirmed For !!! </h3>

  Date : <%= @booking.date.strftime('%e %b %Y') %><br>
  Name : <%= @booking.name %><br>
  Time : From <%= @booking.start_time.strftime('%l:%M %P') %> To <%= @booking.end_time.strftime('%l:%M %P') %><br>
